body {
	padding: 0;
	border: 0;
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
}
#menu-box {
	position: absolute;
	z-index: 2;
	width: 10%;
	height: 10%;
	display: flex;
	flex-direction: column;
}
#menu-button {
	position: absolute;
	z-index: 2;
	padding: 0;
	border-radius: 5px;
	width: 50px;
	height: 6px;
	background: white;
	transition: all .5s ease-in-out;
}
#menu-button::before,
#menu-button::after {
	position: absolute;
	z-index: 2;
	border-radius: 5px;
	width: 50px;
	height: 6px;
	background: white;
	transition: all .5s ease-in-out;
}
#menu-button::before { transform: translateY(-16px);}
#menu-button::after { transform: translateY(16px);}
#menu-button.open #menu-button {
	transform: translateX(-50px);
	background: transparent;
}
#menu-button.open #menu-button::before {
	transform: rotate(45deg) translate(35px, -35px);
}
#menu-button.open #menu-button::after {
	transform: rotate(45deg) translate(35px, 35px);
}
#menu-button.open #menu-container {
	left: 0;
}
#menu-container {
	padding:0;
	border: 0;
	margin: 0;
	position: absolute;
	z-index: 1;
	left: -100%;
	background: black;
	transition: all .5s ease-in-out;
}
#map-container {
	padding: 0;
	border: 0;
	margin: 0;
	position: absolute;
  z-index: 0;	
	//width: 400px;
	//height: 400px;
}
