body {
    display: flex;
    flex-direction: column;
}

body h1 {
    margin-right: auto;
    margin-left: auto;
}
.travle_box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    min-width: 250px;

    border: 1px solid #121212;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
}
    .travle_box .travle_date {
        font-size: small;
    }
    .travle_box .travle_title {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
        .travle_box .travle_title a {
            text-decoration: none;
        }
